version: "3"

services:
  backendGpdPlannigTool:
    image: acrgleidev.azurecr.io/backend-gpd-plannig-tool:${TAG}
    container_name: backend-gpd-plannig-tool
    build:
      context: gpd-plannig-tool-backend
      dockerfile: Dockerfile
    ports:
      - 4444:4444
    networks:
            - network_gpd
    volumes:
        - ./gpd-plannig-tool-backend/log:/app/log
    restart: always

  frontendGpdPlannigTool:
    image: acrgleidev.azurecr.io/frontend-gpd-plannig-tool:${TAG}
    container_name: frontend-gpd-plannig-tool
    build:
      context: gpd-plannig-tool-frontend
      dockerfile: Dockerfile
    ports:
      - 8000:80
    networks:
      - network_gpd

networks:
  network_gpd:
    driver: bridge
volumes:
  dbMyApp:
